/* Googel Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}