/* Googel Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* Variables */
:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;

    --fs-footer-p: 1rem;
    --fs-footer-icon: 1.8rem;
    --fs-copyright: 0.7rem;
}

::selection {
    color: var(--bg-color);
    background: var(--second-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;

}

/* CSS for Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    background:var(--container-color);
    transition: 0.4s;
    box-shadow: 0 1px 4px hsl(0 4% 14% /10%);
}

header.shadow .logo {
    color: var(--text-color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.life {
    color: var(--second-color);
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span{
    color: var(--second-color);
}

.login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
}

.login:hover {
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}

.signup {
    /* flex:1 1 200px; */
    /* flex: 0.5; */
    margin-right: 10px;
    margin-left: auto;
    display:flex;
    position:-webkit-sticky;
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 100px;
    background: var(--second-color);
    color: var(--bg-color);
}

.signup:hover {
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}

/* Home CSS */

.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text {
    color: var(--bg-color);
    text-align: center;
}

.home-title {
    font-size: 3.5rem;
}

.home-subtitle {
    font-size: 1rem;
    font-weight: 400;
}

/* Post Filter CSS */

.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filter-item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.active-filter {
    background: var(--second-color);
    padding: 4PX 10px;
    border-radius: 100px;
}

/* Posts CSS */

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-box{
    background: var(--bg-color);
    padding: 15px;
    box-shadow: 0 4px 15px hsl(355deg 25% 15% / 10% );
    border-radius: 1rem;
}

.post-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /* To make sure the title is within 2 lines only */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}

.post-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    /* To make sure the post description within 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.profile.name{
    font-size: 0.9rem;
    font-weight: 500;
}

/* Footer CSS */
.footer, .semi-footer,  .policies {
    display: grid;
}

.footer {
    background-color: var(--second-color);
    gap: 1.5rem;
    margin-top: 3rem;
    padding: 1.5rem 0 3rem 0;
    text-align: center;
    width: 100%;
}

.semi-footer {
    gap: 1.5rem;
    margin: 0 auto;
    width: 90vw;
}

.social {
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
    order: 3; 
}

.social a i, .policies a::after, .back-top-btn a i{
    cursor: pointer;
    transition: transform 250ms ease-out;
}

.social a i, .policies a, .back-top-btn a i, .footer small {
    color: var(--bg-color);
}

.social a i,  .back-top-btn a i{
    font-size: var(--fs-footer-icon);
}

.policies {
    gap: 0.3rem;
    order: 2;
}

.policies a {
    font-size: var(--fs-footer-p);
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.back-top-btn {
    order: 1;
}

.footer small {
    font-size: var(--fs-copyright);
    font-weight: 400;
}

.social a i:hover, .back-top-btn a i:hover {
    transform: scale(1.2);
} 





/* Post-page CSS */

.post-header{
    width: 100%;
    height: 500px;
    background: var(--container-color);
}

.post-container{
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}
.back-home{
    color: var(--second-color);
    font-size: 1rem;
}
.header-title{
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.header-img{
    width: 100%;
    height: 420px;
    object-fit: contain;
    object-position: center;
}

.post-content{
    margin-top: 10rem !important;
}

.sub-heading{
    text-align: center;
    font-size: 1.2rem;
}
.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0 ;
    text-align: justify;
}

.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.share-title{
    font-size: 1.4rem;

}


/* //position a button page to left of the navbar? */




/* Website Responsiveness */

@media (min-width:500px) {
    .footer {
        padding:2rem 0 1.5rem 0 ;
        text-align: inherit;
        gap: 2rem;
    }
    .semi-footer {
        grid-template-columns: repeat(3, auto);
    }          
    .social {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 30vw;
        order: 2; 
    }
    .policies {
        order: 1;
    }
    .back-top-btn {
        text-align: right;
        order: 3;
    }
    .footer small {
        text-align: center;
    }
}

@media (min-width:1000px) {
    .semi-footer, .policies {
        display: flex;
    }
    .semi-footer {
        align-items: center;
        justify-content: space-between;
        gap: 0;
    }
    .social, .back-top-btn {
        width: 20%;
    }
    .social {
        gap: 0.7rem;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 0;
        order: 1;
    }
    .policies {
        gap: 2rem;
        order: 2;
    }
    .policies a {
        padding-bottom: 5px;
        position: relative;
        word-spacing: 0;
    }
    .policies a::after {
        background-color: var(--bg-color);
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: bottom right;
        width: 100%;
    }
    .policies a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@media (max-width:1060px){
    .container {
        margin: 0 auto;
        width: 95%;
    }
}

@media (min-width:1200px) {
    .semi-footer {
        width: 80vw;
    }
    :root {
        --fs-footer-p: 1.2rem;
        --fs-copyright: 0.9rem;  
    }
}

@media (min-width:1600px) {
    .semi-footer {
        max-width: 1300px;
    }
    :root {
        --fs-footer-icon: 2rem;
    }
}

@media (min-width:2000px) {
    :root {
        --fs-footer-p: 1.4rem;
        --fs-copyright: 1rem;  
    }
}

